<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>./System/Library/Extensions/AppleFWAudio.kext/Contents/version.plist</key>
	<dict>
		<key>BuildVersion</key>
		<string>46</string>
		<key>CFBundleShortVersionString</key>
		<string>2.2.0</string>
		<key>CFBundleVersion</key>
		<string>2.2.0fc9</string>
		<key>ProjectName</key>
		<string>AppleFWAudio</string>
		<key>SourceVersion</key>
		<string>2200409</string>
	</dict>
	<key>./System/Library/Extensions/AppleMIDIFWDriver.plugin/Contents/version.plist</key>
	<dict>
		<key>BuildVersion</key>
		<string>46</string>
		<key>CFBundleShortVersionString</key>
		<string>220.4.4</string>
		<key>CFBundleVersion</key>
		<string>220.4.4</string>
		<key>ProjectName</key>
		<string>AppleFWAudio</string>
		<key>SourceVersion</key>
		<string>2200409</string>
	</dict>
	<key>./System/Library/Extensions/AppleMLANAudio.kext/Contents/version.plist</key>
	<dict>
		<key>BuildVersion</key>
		<string>46</string>
		<key>CFBundleShortVersionString</key>
		<string>2.2.0</string>
		<key>CFBundleVersion</key>
		<string>2.2.0fc9</string>
		<key>ProjectName</key>
		<string>AppleFWAudio</string>
		<key>SourceVersion</key>
		<string>2200409</string>
	</dict>
	<key>./System/Library/Frameworks/FWAUserLib.framework/Versions/Current/Resources/version.plist</key>
	<dict>
		<key>BuildVersion</key>
		<string>46</string>
		<key>CFBundleShortVersionString</key>
		<string>2.2.0</string>
		<key>CFBundleVersion</key>
		<string>2.2.0fc9</string>
		<key>ProjectName</key>
		<string>AppleFWAudio</string>
		<key>SourceVersion</key>
		<string>2200409</string>
	</dict>
</dict>
</plist>
