<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>1.6.3

1.6

• Preliminary sleep/wake support.

1.5.3

• Copy GUID property to SkeletonKey registry entry from IOFireWireLocalNode object on same bus when available.

1.5.0

• No longer allow multiple SkeletonKey tools to open simultaneously.

1.4.5

• Fix numerous panics.

1.4.4
• no more framework
</string>
	<key>IFPkgDescriptionTitle</key>
	<string>FWSkeletonKey</string>
</dict>
</plist>
