<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PBXProjectSourcePath</key>
	<string>/Volumes/iEWA9/Documents/Dev/aXActive/FireBugX/FireBug-xc/ FireBug.xcode</string>
</dict>
</plist>
